.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  transition: 0.4s;
}

.gallery-item h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 8px;
  margin: 0;
  color: #fff;
  font-size: 16px;
  background-color: #333;
  transform: translate(0, 100%);
  transition: 0.4s;
}

.gallery-item:hover img {
  opacity: 0.2;
  transform: scale(1.1);
}

.gallery-item:hover h3 {
  transform: translate(0, 0);
}

.close-button {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 5px;
  border: none;
  font-size: 150%;
}
