@tailwind base;
@tailwind components;

.box {
  @apply rounded-lg shadow-lg cursor-move h-full;
}

.gray-icon {
  @apply flex items-center text-gray-400;
}

.gray-icon:hover {
  @apply text-gray-600;
}

.gray-icon:focus {
  @apply outline-none text-gray-600;
}

.elevated-btn {
  @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.elevated-btn:hover {
  @apply bg-gray-100;
}

@tailwind utilities;
